<span class="text-danger" *ngIf="(field.touched) && field.errors?.required">
    Fältet är obligatorisk.
  </span>
  <span class="text-danger" *ngIf="(field.touched) && field.errors?.maxlength">
    {{ fieldName }} måste vara högst {{ maxLength }} tecken långt.
  </span>
  <span class="text-danger" *ngIf="(field.touched) && field.errors?.pattern">
    {{ fieldName }} är inte giltigt.
  </span>
  <span class="text-danger" *ngIf="(field.touched) && field.errors?.email">
    Ange ett giltigt e-postadress.
  </span>