<!DOCTYPE html>
<html>

<head>
  <title>Formuläret</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
</head>

<body>
  <div class="testbox">
    <form [formGroup]="angForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="banner">
        <h1>Formuläret</h1>
      </div>
      <p>
        Vänligen fyll i informationen som begärs nedan och skicka in formuläret.
      </p>
      <hr />
      <div formGroupName="officer">
      <fieldset>
        <legend>Dokumentuppgifter</legend>
        <div class="item">
          <label for="name">Namn<span>*</span></label>
          <input id="name" type="text" name="name" placeholder="Förnamn" formControlName="firstname"
            autocomplete="off" required/>
            <app-form-validation [fieldName]="'firstname'" [field]="officer_firstname" [maxLength]="60"></app-form-validation>
          <input id="name" type="text" name="name" placeholder="Efternamn" formControlName="lastname"
            autocomplete="off" required/>
            <app-form-validation [fieldName]="'lastname'" [field]="officer_lastname" [maxLength]="60"></app-form-validation>
        </div>
        <div class="item">
          <label for="email">E-post<span>*</span></label>
          <input id="email" type="text" name="text" formControlName="email" required/>
          <app-form-validation [fieldName]="'email'" [field]="officer_email" [maxLength]="60"></app-form-validation>
        </div>
        <div class="item">
          <label for="phone">Phone kontakperson<span>*</span></label>
          <input id="phone" type="text" name="number" formControlName="phone" required/>
          <app-form-validation [fieldName]="'phone'" [field]="officer_phone" [maxLength]="15"></app-form-validation>
        </div>
        <div class="item">
          <label for="handling">Handling<span>*</span></label>
          <app-upload-files (filesEvent)="addFiles($event)"></app-upload-files>
        </div>
      </fieldset>
    </div>
    <div formGroupName="user">
          <fieldset>
        <legend>Personuppgifter</legend>
        <div class="item">
          <label for="name">Namn<span>*</span></label>
            <input id="name" type="text" name="name" placeholder="Förnamn" formControlName="firstname" (change)="setDefaultFirstname()" required/>
            <app-form-validation [fieldName]="'firstname'" [field]="firstname" [maxLength]="80"></app-form-validation>
            <input id="name" type="text" name="name" placeholder="Efternamn" formControlName="lastname" required/>
            <app-form-validation [fieldName]="'lastname'" [field]="lastname" [maxLength]="60"></app-form-validation>
        </div>
        <div class="item">
          <label for="additional-info">Ytterligare namnuppgift (Frivillig)</label>
          <input id="additional-info" type="text" name="additional-info"
            formControlName="additional_info" />
            <app-form-validation [fieldName]="'additional_info'" [field]="additional_info" [maxLength]="200"></app-form-validation>
        </div>
        <div class="item">
          <label for="abroadPOB">Födelseort i utlandet<span>*</span></label>
          <input id="abroadPOB" type="text" name="abroadPOB" formControlName="abroadPOB" required/>
          <app-form-validation [fieldName]="'abroadPOB'" [field]="abroadPOB" [maxLength]="40"></app-form-validation>
        </div>
        <div class="item">
          <div>
            <div *ngIf="countries.length === 0">Försöker ladda länderna...</div>
            <label for="country">Primärt Medborgarskap<span>*</span></label>
            <select id="country" name="country" formControlName="country" required>
              <option selected>
                Välj land
              </option>
              <option *ngFor="let country of countries">
                {{ country }}
              </option>
            </select>
          </div>
          <app-form-validation [fieldName]="'country'" [field]="country"></app-form-validation>

        </div>
        <div formGroupName="bdate">
          <section id="date-of-birth">
            <div class="bdate">
              <fieldset>
                <legend class="sub-legend">
                  Födelsedatum</legend>
                <div class="field-inline-block">
                  <label>DD</label>
                  <input type="text" maxlength="2" size="2" ame="" formControlName="bday" (change)="checkIfDateIsValid()" required/>
                  <app-form-validation [fieldName]="'day'" [field]="bday"></app-form-validation>
                </div>
                /
                <div class="field-inline-block">
                  <label>MM</label>
                  <input type="text" maxlength="2" size="2" formControlName="bmonth" (change)="checkIfDateIsValid()" required/>
                  <app-form-validation [fieldName]="'month'" [field]="bmonth"></app-form-validation>
                </div>
                /
                <div class="field-inline-block bdate-year">
                  <label>YYYY</label>
                  <input type="text" maxlength="4" size="4" formControlName="byear" (change)="checkIfDateIsValid()" required/>
                  <app-form-validation [fieldName]="'year'" [field]="byear"></app-form-validation>
                </div>
                <div *ngIf="!checkIfDateIsValid()">
                  <span class="text-danger">
                    Du kan inte använda framtida datum
                  </span>
                </div>
              </fieldset>
            </div>
          </section>
        </div>
        <div class="item">

          <div class="item">
            <label for="gender">Kön<span>*</span></label>
            <div>
              <input type="radio" value="male" id="gender" name="gender" class="gender-male" formControlName="gender" required/>
              <label for="male">Man</label>
              <input type="radio" value="female" id="gender" name="gender" class="gender-female"
                formControlName="gender" required/>
              <label for="male">Kvinna</label>
            </div>
            <app-form-validation [fieldName]="'gender'" [field]="gender"></app-form-validation>
          </div>

        </div>
        <div class="item">
          <label for="email">E-post<span>*</span></label>
          <input id="email" type="text" name="text" formControlName="email" required/>
          <app-form-validation [fieldName]="'email'" [field]="email"></app-form-validation>
        </div>

        <div formGroupName="address">
          <fieldset>
            <legend class="sub-legend">Kontaktadress</legend>
            <div class="item">
              <label for="address">C/O Adress (Frivillig)</label>
              <input id="address" type="text" name="text" formControlName="street" />
            </div>
            <div class="item">
              <label for="address">Adressfortsättning<span>*</span></label>
              <input id="address" type="text" name="text" placeholder="Gatudress" formControlName="street" required/>
              <app-form-validation [fieldName]="'street'" [field]="street" [maxLength]="35"></app-form-validation>
            </div>
            <div class="item">
              <div class="name-item">
                <div>
                  <input type="number" name="apartmentNumber" placeholder="Lägenhetsnummer"
                    formControlName="apartmentNumber" required/>
                    <app-form-validation [fieldName]="'apartmentNumber'" [field]="apartmentNumber" [maxLength]="4"></app-form-validation>
                </div>
                <div>
                  <input type="text" name="city" placeholder="Ort" formControlName="city" required/>
                  <app-form-validation [fieldName]="'city'" [field]="city"></app-form-validation>
                </div>
                <div>
                  <input type="text" name="state" placeholder="Postort" formControlName="postcity" required/>
                  <app-form-validation [fieldName]="'postcity'" [field]="postcity" [maxLength]="27"></app-form-validation>
                </div>
                <div>
                  <input type="text" name="code" placeholder="Postnummer" formControlName="postcode" required/>
                  <app-form-validation [fieldName]="'postcode'" [field]="postcode" [maxLength]="5"></app-form-validation>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </fieldset>
      </div>
      <div formGroupName="other">
          <fieldset>
        <legend>Övrigt</legend>
        <div class="item">
          <label for="FId">FaststalltId<span>*</span></label>
          <select id="FId" type="text" name="FId" placeholder="FaststalltId"
            formControlName="FId" required>
            <option selected>
              Välj id</option>
            <option *ngFor="let FId of IDs">
              {{ FId }}
            </option>
          </select>
          <app-form-validation [fieldName]="'FId'" [field]="FId" [maxLength]="14"></app-form-validation>
        </div>
        <div class="item">
          <label for="UId">UnderlagId<span>*</span></label>
          <input id="UId" type="text" name="UId" formControlName="UId" required/>
          <app-form-validation [fieldName]="'UId'" [field]="UId" [maxLength]="80"></app-form-validation>
        </div>
        <div class="item">
          <label for="other-info">Övriga upplysningar (Frivillig)</label>
          <input id="other-info" type="text" name="other-info" formControlName="other_info" />
          <app-form-validation [fieldName]="'other_info'" [field]="other_info" [maxLength]="200"></app-form-validation>
        </div>
      </fieldset>
      </div>
      <div class="btn-block">
        <button type="submit">
          Skicka in
        </button>
      </div>
    </form>
  </div>
</body>
</html>